# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Ignore Python cache directories
__pycache__/
*.py[cod]

# Ignore a specific file
downloader.py

# Ignore another specific file
Untitled169.ipynb
